*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#page{
    background-color: hsl(0, 0%, 100%);
    font-family: 'League Spartan', sans-serif;
}
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    #page{
    display: flex;
    width: 100wh;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 20%;
    gap: 2em;
    }
    #text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        text-align: center;
    }
    #stars{
    grid-area: stars;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
    }
    .stars{
        background-color: hsl(300, 24%, 96%);
        border-radius: 0.5em;
        font-size: 1.1em;
        font-weight: 700;
        padding: 1em;
        color:hsl(300, 43%, 22%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 1em;
        width: 100%;
    
    }
    .stars>p{
        text-align: center;
    }
    #reviews{
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 2em;
    }
    .reviews{
        background-color: hsl(300, 43%, 22%);
        border-radius: 0.5em;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5em;
    }
}
@media  screen and (max-width: 1920px) {
    #page{
    display: grid;
    grid-template-areas: "title stars"
                         "reviews reviews";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
    #text{
        grid-area: title;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        margin: 20% 10% 5% 30%;
    }
    #title{
        text-align: left;
    }
    #subtitle{
        text-align: justify;
    }
    #stars{
        grid-area: stars;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:1em;
        margin: 20% 30% 5% 5%;
    
    }
    .stars{
        background-color: hsl(300, 24%, 96%);
        border-radius: 0.5em;
        font-size: 1.1em;
        font-weight: 700;
        padding: 1.6em;
        width: auto;
        height: auto;
        color:hsl(300, 43%, 22%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 1em;
    
    }
    #star1{
        align-self: flex-start;
    }
    #star2{
        align-self: center;
    }
    #star3{
        align-self: flex-end;
    }
    #reviews{
        grid-area: reviews;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .reviews{
        background-color: hsl(300, 43%, 22%);
        border-radius: 0.5em;
        padding: 2em;
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5em;
    }

}

/*Title Area*/
#title{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    font-size: 4.2em;
}
#subtitle{
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    font-size: 1.2em;
}

/* Rates section*/
.fivestars{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fivestars>img{
    width: 1em;
    height: 1em;
}
/*Reviews Section*/
.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.profile>img{
    border-radius: 5em;
    height: 3em;
    width: 3em;
}
.data{
    display: flex;
    flex-direction: column;
}
.data > p:first-of-type{
    font-weight: 700;
    color: hsl(300, 24%, 96%);
}
.data > p:last-of-type{
    font-weight: 700;
    color: hsl(333, 80%, 67%);
}
.reviews > p:last-of-type{
    grid-area: opinion;
    font-weight: 500;
    color: hsl(300, 24%, 96%);
}
#review1{
    align-self: flex-start;
}
#review3{
    align-self: flex-end;
}
